@import "modern-css-reset";

body {
    font-family: "Inter", "Segoe UI", "Roboto", Arial, sans-serif;
    font-size: 18px;
    color: #222;
    background: #f9f9fa;
    margin: 0;
    padding: 0;
}

main,
article {
    max-width: 900px;
    margin: 2.5rem auto;
    background: #fff;
    border-radius: 1.1em;
    box-shadow: 0 4px 32px #0001, 0 1.5px 4px #0001;
    padding: 3rem 2.7rem 2.5rem 2.7rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: #143763;
    letter-spacing: -1px;
    margin-top: 2.2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.19rem;
    color: #1956b3;
}

h4 {
    font-size: 1rem;
}

a,
.btn {
    color: #1259a5;
    text-decoration: none;
    transition: color 0.18s;
}

a:hover,
.btn:hover {
    color: #e34a2b;
}

ul,
ol {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

li {
    margin-bottom: 0.3em;
}

.btn {
    display: inline-block;
    background: #1259a5;
    color: #fff;
    padding: .52em 1.25em;
    margin: 0 .4em 1.5em 0;
    border: none;
    border-radius: .55em;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 2px 12px #0002;
    transition: background .18s, color .18s;
}

.btn:hover {
    background: #0c2851;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5em 0;
}

th,
td {
    border: 1px solid #eee;
    padding: .75em 1em;
    text-align: left;
}

th {
    background: #e7eef7;
    color: #143763;
}

code,
pre {
    background: #f5f7fa;
    color: #16395a;
    border-radius: .4em;
    font-size: 1em;
    padding: .18em .38em;
}

pre {
    padding: 1em;
    overflow-x: auto;
}